// Specific CSS for your home-page
.homepage h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: $dark-green;
}

homepage a:hover {
  opacity: 70%;
}

.homepage-story {
  height: 300px;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  opacity: 95%;
}

.homepage-story a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.homepage-story:hover {
  opacity: 100%;
}

.homepage-story h2 {
  color: white;
  font-size: 32px;
}

.homepage-story p {
  color: $light-pink;
}

.homepage a:hover {
  text-decoration: none;
}

#new-in {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("https://images.unsplash.com/photo-1529139574466-a303027c1d8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-size: cover;
  background-position: center center;
}

#activewear {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-position: center top;
}

.homepage-carousels {
  margin-top: 30px;
}

.carousel-item {
  height: 200px;
  margin-bottom: 24px;
  width: 100%;
}

.carousel-item img {
  filter: brightness(50%);
  object-fit: cover;
  height: 100%;
}

.carousel-caption {
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 80%;
}

.carousel-caption:hover {
  opacity: 100%;
}

.carousel-caption h3 {
  margin: 0;
}

.carousel-caption p {
  color: $light-pink;
}

// .video {
//   height: 200px;
//   width: 200px;
// }
