.listing-show {
  display: flex;
  margin-top: 16px;
}

.listing-info {
  padding: 8px 16px;
}

.listing-info h4 {
  font-size: 18px;
}

.listing-info h5 {
  font-size: 14px;
}

.listing-info p {
  font-size: 12px;
  margin-bottom: 8px;
}

.listing-info button {
  margin: 16px 0px;
}

.listing-show img {
  width: 45%;
  // height: 400px;
  object-fit: cover;
  height: 80vh;
  margin-bottom: 8px;
}

.listing-show .key-info {
  display: block;
}

.listing-show .key-info h5 {
  color: $dark-green;
}

.seller-details {
  margin-top: 16px;
}

.seller-details ul {
  margin-bottom: 0;
  padding-left: 8px;
  list-style-type: none;
}

.seller-details i {
  font-size: 10px;
}

.seller-details .sustainability {
  font-size: 12px;
  margin: 0;
  margin-bottom: 16px;
  color: $dark-green;
}

.seller-details a {
  color: $pink;
  text-decoration: none;
}

.seller-details a:hover {
  opacity: 90%;
  transition: 0.2s;
}

@media(max-width: 992px) {
  .listing-show img {
    width: 65%;
  }

  // .seller-details {
  //   display: block;
  // }
}

@media(max-width: 768px) {
  .listing-show img {
    width: 95%;
  }

  .listing-show {
    display: block;
  }

}
