.search-again {
  color: $pink;
  text-decoration: none;
}

.search-again:hover {
  color: $pink;
  opacity: 90%;
  transition: 0.2s;
  text-decoration: none;
}

.search p {
  font-size: 12px;
}

.search form {
  display: flex;
}

.search form input {
  margin: 16px 0;
  height: 30px;
  font-size: 14px;
}

.search-button {
  border: 1px solid $dark-green;
  background-color: $white;
  color: $dark-green;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 30px;
  margin: 16px 0;
  margin-left: -3px;
}
