.seller-home h3 {
  font-size: 20px;
  color: $dark-green;
}

.seller-home h4 {
  font-size: 16px;
}

.seller-home p {
  font-size: 12px;
}

.seller-home .seller-details {
  margin-bottom: 24px;
}

.seller-home .add-listing {
  color: $pink;
  text-decoration: none;
  font-size: 14px;
}

.seller-home .add-listing:hover {
  opacity: 90%;
  transition: 0.2s;
}

.seller-home .seller-details i {
  margin-left: 8px;
  font-size: 14px;
  color: $pink;
}

.seller-home .seller-details .seller-detail {
  display: flex;
}

.seller-home .listings, .orders {
  margin-bottom: 24px;
}

.seller-home .order-cards {
  margin-top: 8px;
}

.seller-home .order-card .description {
  font-size: 9px;
}

.seller-home .order-card .dates {
  opacity: 80%;
  font-size: 10px;
}

.seller-home .order-card {
  position: relative;
}

.seller-home .order-card i {
  position: absolute;
  // right: 0;
  top: 8px;
  font-size: 14px;
  color: $pink;
}

.seller-home .edit {
  right: 40px
}

.seller-home .delete {
  right: 16px
}
