<div class="container seller-new">
  <h2 class="page-title">Create your seller profile</h2>

  <h5>Add your shop details:</h5>
  <%= simple_form_for(@seller) do |f| %>
    <%= f.input :shop_name %>
    <%= f.input :shop_description, placeholder: "A sentence or two best describing your shop" %>
    <%= f.submit 'Submit', class:"button" %>
  <% end %>

</div>
