<div class="container feature">
  <h2 class="page-title"><%= @seller.shop_name %></h2>

  <%# about them (description) %>
  <%# sustainability values %>
  <%# listings %>
  <%# contact them %>

  <%# <%= render 'shared/listing_card', collection: @listings %>

</div>
