<div class="footer">
  <hr>
  <div class="container">
    <div class="social-icons">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-pinterest-p"></i>
      <i class="fab fa-twitter"></i>
    </div>

    <div data-controller="newsletter-form">
      <h5><strong data-action="click->newsletter-form#unhide">Subscribe</strong> to our newsletter and get 10% off.</h5>

      <div class="newsletter-form-popup d-none" data-newsletter-form-target="form">
        <i class="fas fa-times" data-action="click->newsletter-form#close"></i>
        <form action="">
          <p>Keep up with our latest news and seller additions.</p>
          <p>All new subscribers get 10% off their first purchase.</p>
          <input type="text" placeholder="Your email" name="email" required>
          <button type="submit" class="newsletter-btn">Submit</button>
        </form>
      </div>
    </div>

    <div class="footer-links">
      <%= link_to "About us", pages_path %>
      <br>
      <%= mail_to "mampan@test.com", "Contact us"%>
    </div>

  </div>
</div>
