<div class="footer">
  <hr>
  <div class="container">
    <div class="social-links">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-pinterest-p"></i>
      <i class="fab fa-twitter"></i>
    </div>

    <h5><strong>Sign up</strong> to our newsletter and get 10% off.</h5>

    <div class="newsletter-form-popup">
      <i class="fas fa-times"></i>
      <form action="">
        <p>Keep up with our news and latest seller additions.</p>
        <p>All new subscribers get 10% off their first purchase.</p>
        <input type="text" placeholder="Your email" name="email" required>
        <button type="submit" class="newsletter-btn">Submit</button>
      </form>
    </div>


    <div class="footer-links">
      <p>About us</p>
      <div class="contact">
        <i class="far fa-envelope"></i>
        <p>Contact us</p>
      </div>
    </div>

  </div>
</div>
