<div class="container about-us">
  <h2 class="page-title">About us</h2>

  <h3>What do we do?</h3>
  <div class="about-us-info">
    <p>Mampan means sustainable in Malay.</p>
    <p>We provide a platform for sustainable fashion brands to sell any production samples and 'old' season stock at affordable prices.</p>
    <p>This means slow, eco friendly brands are available to browse all in one marketplace, making it easier for planet-conscious fashion lovers to find that treasure.</p>
    <p>We believe that what you wear shouldn't be restricted to fleeting trends - wear what you love and feel good in.</p>
  </div>

  <h3>How does Mampan work?</h3>
  <h5>I'm a customer</h5>
  <div class="about-us-info">
    <p>Browse and enjoy!</p>
    <p>Items are purchased individually, because of the marketplace nature of Mampan's offering.</p>
    <p>Distribution is the responsibility of the seller - please contact the seller with any questions about shipping, exchanges and returns.</p>
  </div>

  <h5>I'm a seller</h5>
  <div class="about-us-info">
    <p>Sellers can sign up and list their items.</p>
    <p>Items will be verified by us at Mampan before they are available for customers to purchase. They must adhere to at least one of our sustainability measures and fall in an affordable price range.</p>
    <p>Distribution is the responsibility of the seller.</p>
  </div>

  <%= link_to "Sign up to become a seller", "#" %>

  <p>If you have any questions, please contact us at mampan@test.com</p>

</div>
