<div class="container about-us">
  <h2 class="page-title">About Us</h2>

  <h3>What do we do?</h3>
  <div class="about-us-info">
    <img src="https://images.unsplash.com/photo-1541779408-c355f91b42c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="lady in a blazer, sitting amongst trees">
    <p>Mampan means sustainable in Malay.</p>
    <p>We provide a platform for sustainable fashion brands to sell any production samples and 'old' season stock at affordable prices, reducing waste.</p>
    <p>This means you can browse slow, eco friendly brands all in one marketplace, making it easier for planet-conscious fashion lovers to find that treasure.</p>
    <p>We believe that what you wear shouldn't be restricted to fleeting trends - wear what you love and what makes you feel good.</p>
    <p>Personally, we're a huge fan of vintage-inspired prints paired with classic basics, in easy-to-wear silhouettes.</p>
  </div>

  <h3>How does Mampan work?</h3>

  <%# make two tabs? %>

  <div class="about-us-info">
    <img src="https://images.unsplash.com/photo-1533037625542-6a0b03812a95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="lady sitting in the sun, with tropical trees in the background">
    <h5>I'm a customer</h5>
    <p>Browse and enjoy!</p>
    <p>Items are purchased individually, because of the marketplace nature of Mampan's offering.</p>
    <p>Distribution is the responsibility of the seller - please contact the seller with any questions about shipping, exchanges and returns.</p>
  </div>

  <div class="about-us-info">
    <img src="https://images.unsplash.com/photo-1614990354198-b06764dcb13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80" alt="vintage shirts hanging on a rack">
    <h5>I'm a seller</h5>
    <p>Sign up and list your items!</p>
    <p>Items must adhere to at least one of our sustainability measures and fall in an affordable price range.</p>
    <p>Distribution is the responsibility of the seller.</p>
  </div>

  <p>If you have any questions, please contact us at <strong><em>mampan@test.com</em></strong></p>

</div>
