<div class="container">
  <div class="homepage-story">
    <h2>New in</h2>
    <p>The latest drops</p>
    <a href="#">View new in</a>
    <%# make whole card a link %>
  </div>

  <div class="homepage-story">
    <h2>Activewear</h2>
    <p>Kick start your new year's resolution in style</p>
    <a href="#">View story</a>
    <%# make whole card a link %>
  </div>

  <div>
    <div>
      <h2>Top Categories</h2>
      <%# update so top categories are cards - 3? %>
      <p>See what's trending</p>
    </div>

    <div>
      <h2>Featured Sellers</h2>
      <%# update so featured sellers are cards - 3? %>
      <p>This week's top picks</p>
    </div>
  </div>

</div>
