#edit_buyer_1, #edit_buyer_1 #buyer_address {
  font-size: 12px;
}

.buyer_address {
  font-size: 12px;
}

.seller_shop_name, .seller_shop_description {
  font-size: 12px;
}

#edit_seller_9, #seller_shop_name, #seller_shop_description {
  font-size: 12px;
}
