.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.dropdown-menu a {
  color: $dark-green;
  font-size: 14px;
}

#nav-title h1 {
  color: $pink;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 28px;
}

.basket {
  color: $dark-green;
  font-size: 24px;
  position: absolute;
  right: 74px;
  top: 22px;
}

.burger-menu {
  height: 40px;
  opacity: 70%;
}
