<div class="container buyer-new">
  <h2 class="page-title">Complete your profile...</h2>

  <h5>Add your shipping address:</h5>
  <%= simple_form_for(@buyer) do |f| %>
    <%= f.input :address %>
    <%= f.submit 'Complete' %>
  <% end %>

</div>
